<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Your Phone Smartphones</title>
</head>
<body>
    <header>
        <!--Barra de navegación-->
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../views/nosotros.html">Nosotros</a></li>
                <li><a href="../index.html">Smartphones</a></li>
                <li><a href="../views/formulario.html">Contacto</a></li>
                <li><a href="../views/carrito.html" id="cajaCarrito"><i class="bi bi-cart"></i></a></li>
            </ul>
        </nav>
      </div><hr>
      <h1>
        El equipo ideal para tus necesidades encontralo acá!
      </h1>
  </header>
    <main>
        <h2>
            ¿Quíenes somos?
        </h2>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card" id="container1">
                <div class="card-body">
                  <h2 class="card-title" id="title1"></h2>
                  <p class="card-text" id="text1"></p>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card" id="container2">
                  <div class="card-body">
                    <h2 class="card-title" id="title2"></h2>
                    <p class="card-text" id="text2"></p>
                  </div>
                </div>
            </div>  
    </main>
    <script src="../js/nosotros.js"></script>
</body>
</html>